{{ define "main" }}
  <h1 class="my-4">All interviews tagged <code>{{ .Data.Term }}</code></h1>
  <hr>

  {{ range .Data.Pages }}
    <article>
      <!-- Blog Post -->

      <div class="card mb-4">
          <img class="card-img-top" src="{{ .Params.featured_image }}" alt="{{ .Title }}">
          <div class="card-body">
            <h2 class="card-title">{{ .Title }} <small class="text-muted">{{ .Description }}</small></h2>
            <p class="card-text">{{ .Summary }}</p>
            <a href="{{ .Permalink }}" class="btn btn-primary btn-sm">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Posted on {{ .Date.Format "Monday, 02 January 2006" }}
          </div>
        </div>

        <h2></h2>
    </article>
  {{ end }}
{{ end }}
