.pagination {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 1rem auto;
    font-size: 1.3rem;
    color: #9eabb3;
    text-align: center;
}

.pagination a {
    color: #9eabb3;
    transition: all .2s ease;
}

.page-number {
    display: inline-block;
    padding: 2px 0;
    min-width: 100px;
}

.newer-posts, .older-posts {
    position: absolute;
    display: inline-block;
    padding: 0 15px;
    border: #ddd 1px dashed;
    text-decoration: none;
    transition: border .3s ease;
}

.newer-posts {
    left: 0;
}

.older-posts {
    right: 0;
}

.site-footer {
    padding-bottom: 20px !important;
}

.nav-current a:visited {
    color: yellow;
}

@media (min-width: 900px) {
    .ctsingle .post-feed {
        margin-top: -70px;
        padding-top: 0;
    }
    .ctsingle .site-nav {
        position: relative;
        top: -70px;
    }
}

@media (min-width: 795px) {
    .ctsingle .post-feed p {
        font-size: 1.8rem;
        line-height: 1.55em;
    }
}

@media (max-width: 650px) {
    .hide {
        display: none !important;
    }
    .copyright {
        text-align: center;
    }
}

.post-full-content pre code {
    color: #e5eff5;
}

@media (min-width: 795px) {
    .post-card:nth-child(2) .post-card-image,
    .post-card:nth-child(3) .post-card-image,
    .post-card:nth-child(4) .post-card-image {
        height: 180px;
        background-size: contain;
    }

    .post-card:nth-child(5) .post-card-image,
    .post-card:nth-child(6) .post-card-image {
        height: 281px;
        background-size: contain;
    }

    .read-next-card -post-card-image {
        height: 281px;
        background-size: contain;
    }
}

.post-full-content {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 70px 70px;
}

p + ul li {
    margin: 0;
}

.listings p {
    margin: 0;
}

.post-full-image {
    margin-bottom: -195px;
}
