{{ define "main" }}
  {{ range $index, $element := .Data.Pages }}
    <!-- Blog Post -->

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex {{ if eq (mod $index 2) 0 }} ml-auto {{ else }} mr-auto {{ end }} rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper">{{ .Title }}</span>
                <span class="section-heading-lower">{{ .Description }}</span>
              </h2>
            </div>
          </div>
          <!-- <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{ .Params.featured_image }}" alt="{{ .Title }}"> -->
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="https://source.unsplash.com/random/800x600?{{ seq 100 | shuffle | first 1 }}" alt="{{ .Title }}">
          <div class="product-item-description d-flex {{ if eq (mod $index 2) 0 }} mr-auto {{ else }} ml-auto {{ end }}">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">{{ .Summary }}<br />Posted on {{ .Date.Format "Monday, 02 January 2006" }}</p>
              <a href="{{ .Permalink | relURL }}" class="btn btn-primary btn-sm">Read More &rarr;</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    {{ end }}
{{ end }}


